{% extends '::page.html.twig' %}

{% block title %}{{ status_code }} {{ status_text }}{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    <div class="wrapper">

        <h1>{{ status_code }} {{ status_text }}</h1>

    </div>

{% endblock %}
