{% extends '::page.html.twig' %}

{% block title %}{{ title }}{% if title != 'About' %} | About{% endif %}{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        {{ render_pattern(menuLink) }}

    </div>

    <div class="wrapper u-pad-top">

        <div class="grid">

                <div class="{% include 'grid-item-classes.html.twig' with {'column': 'content-main'} %}">

                {% for part in body %}

                    {{ render_pattern(part) }}

                {% endfor %}

            </div>

        </div>

    </div>

    <div class="wrapper">

        {{ render_pattern(menu) }}

    </div>

{% endblock %}
