{% set criticalCss = 'about' %}

{% extends '::page.html.twig' %}

{% block title %}{{ title }}{% if title != 'About' %} | About{% endif %}{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(menuLink) }}

    </div>

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/content.html.twig' %}

        {% block main %}

            {% for part in body %}

                {{ render_pattern(part) }}

            {% endfor %}

        {% endblock %}

    {% endembed %}

    <div class="wrapper">

        {{ render_pattern(menu) }}

    </div>

{% endblock %}
