{% extends '::page.html.twig' %}

{% block title %}{{ title }} | About{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        {{ render_pattern(menuLink) }}

    </div>

    <div class="wrapper u-pad-top-lg">

        {% for list in lists %}
            {{ render_pattern(list) }}
        {% endfor %}

    </div>

    <div class="wrapper">

        {{ render_pattern(menu) }}

    </div>

{% endblock %}
