{% set criticalCss = 'about' %}

{% extends '::page.html.twig' %}

{% block title %}{{ title }}{% if title != 'About' %} | About{% endif %}{% endblock %}

{% block head %}
    {{ parent() }}
    <style>
        .prc-comms {
            background-color: #f5f7fa;
            padding: 2em 4em;
        }
    </style>
{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(menuLink) }}

    </div>

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/content.html.twig' %}

        {% block main %}
            {% if is_granted('FEATURE_PRC_COMMS') %}
                <p class="prc-comms">eLife's peer-review process is changing. From January 2023, eLife will no longer accept or reject articles for publication. Instead, eLife will publish every preprint sent for peer review, along with the reviews as a "Reviewed preprint". Editors will also provide an assessment in consultation with Reviewers that use a standardised format to summarise the strength of evidence supporting authors' claims and the preprint's potential impact.</p>
            {% endif %}

            {% for part in body %}

                {{ render_pattern(part) }}

            {% endfor %}

        {% endblock %}

    {% endembed %}

    <div class="wrapper">

        {{ render_pattern(menu) }}

    </div>

{% endblock %}
