{% set hypothesis = true %}

{% extends '::article.html.twig' %}

{% block article_body %}

    {% embed 'grid/content.html.twig' %}

        {% block navigation %}

            {% if viewSelector %}

                {{ render_pattern(viewSelector) }}

            {% endif %}

        {% endblock %}

        {% block main %}

            {% if hasFigures %}

                {% fragment_link_rewrite figuresPath %}

                {% for part in body %}

                    {{ render_pattern(part) }}

                {% endfor %}

                {% end_fragment_link_rewrite %}

            {% else %}

                {% for part in body %}

                    {{ render_pattern(part) }}

                {% endfor %}

            {% endif %}

        {% endblock %}

        {% block secondary %}

            {% if hypothesisOpener is defined %}

                {{ render_pattern(hypothesisOpener) }}

            {% endif %}

            {% if relatedItem %}

                <div class="grid-secondary-column__item grid-secondary-column__item--wide-only">

                    {{ render_pattern(relatedItem) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

    {% if listing %}

        {% embed 'grid/content.html.twig' with { 'isSubsequent': true } %}

            {% block main %}

                {{ render_pattern(listing) }}

            {% endblock %}

        {% endembed %}

    {% endif %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% if not is_granted('FEATURE_CAN_USE_HYPOTHESIS') %}

        <script>
            if (!!document.createElement('div').dataset) {
                var disqus_config = function () {
                    this.page.url = '{{ url('article', {id: article.id}) }}';
                    this.page.title = '{{ article.fullTitle|striptags }}';
                    this.page.identifier = 'article:{{ article.id }}';
                };

                (function () {
                    var d = document, s = d.createElement('script');
                    s.id = 'dsq-count-scr';
                    s.src = 'https://{{ disqus_domain }}.disqus.com/count.js';
                    s.async = true;
                    s.addEventListener('error', function () {
                        {# Do nothing #}
                    });
                    d.head.appendChild(s);
                })();
            }
            (function () {
                if (disqus_config) {
                    var d = document, s = d.createElement('script'), c = d.getElementById('comments');
                    s.src = 'https://{{ disqus_domain }}.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    s.async = true;
                    s.addEventListener('error', function () {
                        {# Do nothing #}
                    });
                    s.addEventListener('load', function () {
                        c.addEventListener('expandsection', function () {
                            try {
                                window.dispatchEvent(new Event('resize'));
                            } catch (e) {
                                {# Do nothing #}
                            }
                        })
                    });
                    d.head.appendChild(s);
                }
            })();
        </script>

    {% endif %}

{% endblock %}
