{% set hypothesis = true %}

{% extends '::article.html.twig' %}

{% block article_body %}

    {% embed 'grid/content.html.twig' %}

        {% block navigation %}

            {% if viewSelector %}

                <div id="view-selector">

                    {{ render_pattern(viewSelector) }}

                </div>

            {% endif %}

        {% endblock %}

        {% block main %}

            {% if hasFigures %}

                {% fragment_link_rewrite figuresPath %}

                {% for part in body %}

                    {{ render_pattern(part) }}

                {% endfor %}

                {% end_fragment_link_rewrite %}

            {% else %}

                {% for part in body %}

                    {{ render_pattern(part) }}

                {% endfor %}

            {% endif %}

        {% endblock %}

        {% block secondary %}

            {% if relatedItem %}

                <div class="grid-secondary-column__item grid-secondary-column__item--wide-only">

                    {{ render_pattern(relatedItem) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

    {% if listing %}

        {{ render_pattern(listing) }}

    {% endif %}

{% endblock %}
