{% extends '::page.html.twig' %}

{% block title %}{{ articleTitle|striptags }}{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

    {% for infoBar in infoBars %}
        {{ render_pattern(infoBar) }}
    {% endfor %}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(contextualData) }}

    </div>

    <div class="wrapper">

        <div class="grid">

            {% if viewSelector %}

                <div class="grid__item large--two-twelfths blg-pad-top-medium">

                    {{ render_pattern(viewSelector) }}

                </div>

            {% endif %}

            <div class="grid__item large--six-twelfths {% if not viewSelector %}push--large--two-twelfths{% endif %} blg-pad-top-medium">

                {% block article_body %}

                    {% if hasFigures %}

                        {% fragment_link_rewrite path('article-figures', {volume: article.volume, id: article.id}) %}

                        {% for part in body %}

                            {{ render_pattern(part) }}

                        {% endfor %}

                        {% end_fragment_link_rewrite %}

                    {% else %}

                        {% for part in body %}

                            {{ render_pattern(part) }}

                        {% endfor %}

                    {% endif %}

                {% endblock %}

            </div>
        </div>

    </div>

{% endblock %}
