{% extends '::page.html.twig' %}

{% block title %}{{ article.title|striptags }} | {% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

    {% for infoBar in infoBars %}
        {{ render_pattern(infoBar) }}
    {% endfor %}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        <div class="grid">

            <div class="grid__item large--six-twelfths push--large--two-twelfths u-pad-top-lg">

                {% if body %}

                    {% for part in body %}

                        {{ render_pattern(part) }}

                    {% endfor %}

                {% endif %}

            </div>
        </div>

    </div>

{% endblock %}
