{% extends '::page.html.twig' %}

{% block title %}{{ title }} | Collections{% endblock %}

{% block description %}
    {{ collection.impactStatement }}
{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {% if leadParas %}
            {{ render_pattern(leadParas) }}
        {% endif %}

        <div class="u-pad-top">

            {{ render_pattern(collectionList) }}

        </div>

    </div>

{% endblock %}
