{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Collections{% endblock %}

{% block description %}
    {{ collection.impactStatement|raw }}
{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {% for part in body %}

                {{ render_pattern(part) }}

            {% endfor %}

        {% endblock %}

        {% block secondary %}

            {% if multimedia %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(multimedia) }}

                </div>

            {% endif %}

            {% if related %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(related) }}

                </div>

            {% endif %}

            <div class="grid-secondary-column__item">

                {{ render_pattern(contributors) }}

            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
