{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Collections{% endblock %}

{% block description %}
    {{ collection.impactStatement|raw }}
{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top-lg">

        <div class="grid">

            <div class="listing-column-container">

                <div class="grid__item medium--eight-twelfths listing-column-main">

                    {{ render_pattern(collectionList) }}

                </div>

                <div class="grid__item medium--four-twelfths listing-column-secondary">

                    {% if multimedia %}
                        {{ render_pattern(multimedia) }}
                    {% endif %}

                    {% if related %}
                        {{ render_pattern(related) }}
                    {% endif %}

                    {{ render_pattern(contributors) }}

                </div>

            </div>

        </div>

    </div>

{% endblock %}
