{% set criticalCss = 'collection' %}

{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Collections{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {% if contextualData %}

            {{ render_pattern(contextualData) }}

        {% endif %}

    </div>

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {% for part in body %}

                {{ render_pattern(part) }}

            {% endfor %}

        {% endblock %}

        {% block secondary %}

            {% if multimedia %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(multimedia) }}

                </div>

            {% endif %}

            {% if related %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(related) }}

                </div>

            {% endif %}

            <div class="grid-secondary-column__item">

                {{ render_pattern(contributors) }}

            </div>

        {% endblock %}

    {% endembed %}

    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Collection",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ url('article', {id: item.id}) }}"
            },
            "headline": {{ title|striptags|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }},
            "image": [
                "{{ iiif_uri(item.thumbnail) }}"
            ],
            "datePublished": "{{ item.publishedDate|date('Y-m-d', 'UTC') }}",
            "publisher": {
                "@type": "Organization",
                "name": "eLife Sciences Publications, Ltd",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ absolute_url(asset('assets/patterns/img/patterns/organisms/elife-logo-full-2x.png')) }}"
                }
            },
            {% if item.keywords is defined and item.keywords|length %}
                "keywords": [
                    {% for keyword in item.keywords %}
                        "{{ keyword|striptags }}"
                        {% if not loop.last %},{% endif %}
                    {% endfor %}
                ],
            {% endif %}
            {% if item.subjects|length %}
                "about": [
                    {% for subject in item.subjects %}
                    "{{ subject.name|striptags }}"
                    {% if not loop.last %},{% endif %}
                    {% endfor %}
                ],
            {% endif %}
            {% if item.impactStatement|default(null) -%}
                "description": {{ item.impactStatement|striptags|json_encode(constant('JSON_UNESCAPED_UNICODE'))|raw }},
            {% endif %}
            "isPartOf": {
                "@type": "Periodical",
                "name": "eLife",
                "issn": "2050-084X"
            }
        }
    </script>

{% endblock %}
