{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Events{% endblock %}

{% block meta %}

    {{ parent() }}

    {% if date(event.ends) < date() %}
        <meta name="robots" content="noindex">
    {% endif %}

{% endblock %}

{% block body %}

    {% if date(event.ends) < date() %}
        {{ info_bar('This event has finished.', constant('eLife\\Patterns\\ViewModel\\InfoBar::TYPE_ATTENTION')) }}
    {% endif %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top-lg">

        <div class="grid">

            <div class="{% include 'grid-item-classes.html.twig' with {'column': 'content-main'} %}">

                {% for block in blocks %}
                    {{ render_pattern(block) }}
                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}
