{% set criticalCss = 'post' %}

{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Events{% endblock %}

{% block meta %}

    {{ parent() }}

    {% if date(item.ends) < date() %}
        <meta name="robots" content="noindex">
    {% endif %}

{% endblock %}

{% block body %}

    {% if date(item.ends) < date() %}
        {{ info_bar('This event has finished.', constant('eLife\\Patterns\\ViewModel\\InfoBar::TYPE_ATTENTION')) }}
    {% endif %}

    {{ render_pattern(contentHeader) }}

    {% if contextualData %}

        <div class="wrapper">

            {{ render_pattern(contextualData) }}

        </div>

    {% endif %}

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/content.html.twig' %}

        {% block main %}

            {% for block in blocks %}
                {{ render_pattern(block) }}
            {% endfor %}

        {% endblock %}

    {% endembed %}

    {{ json_ld_schema_org(item) }}

{% endblock %}
