{% extends '::page.html.twig' %}

{% block body %}

    {% if carousel %}

        {{ render_pattern(carousel) }}

    {% endif %}

    <div class="wrapper">

        {{ render_pattern(leadParas) }}

    </div>

    {% if subjects %}

        <div class="wrapper u-pad-top">

            {{ render_pattern(subjects) }}

        </div>

    {% endif %}

    <div class="wrapper u-pad-top">

        {% if magazine %}

        <div class="grid">

            <div class="listing-column-container">

                <div class="grid__item large--eight-twelfths listing-column-main">

                    {% endif %}

                    {% if latestResearch %}

                        {{ render_pattern(latestResearch) }}

                    {% else %}

                        {{ render_pattern(latestResearchHeading) }}

                        <p>No articles available.</p>

                    {% endif %}

                    {% if magazine %}

                </div>

                <div class="grid__item large--four-twelfths listing-column-secondary">

                    {{ render_pattern(magazine) }}

                </div>

            </div>

        </div>

        {% endif %}

    </div>

{% endblock %}
