{% set criticalCss = 'home' %}
{% set isHomePage = true %}
{% if showNewHomePage is not defined %}
    {% set showNewHomePage = false %}
{% endif %}
{% if showNewHomePage %}
    {% set mainClass = 'main--with-new-designs-borders' %}
{% endif %}

{% extends '::page.html.twig' %}

{% block meta %}

    {{ parent() }}

    <link rel="alternate" type="application/rss+xml" title="Read the latest life sciences research from eLife Sciences" href="{{ path('rss-recent') }}" />

{% endblock %}

{% block body %}

    <div{% if showNewHomePage %} class="banner-and-subjects-wrapper"{% endif %}>

        {% if homeBanner is defined and homeBanner %}

            {{ render_pattern(homeBanner) }}

        {% endif %}

        {% if heroBanner is defined and heroBanner %}

            <div class="wrapper">

                {{ render_pattern(heroBanner) }}

            </div>

        {% endif %}

        {% if subjects %}

            <div class="wrapper">

                {{ render_pattern(subjectsLink) }}

            </div>

        {% endif %}

    </div>

    {% include 'calls-to-action.html.twig' %}

    {% if highlights is defined and highlights %}

        <div class="wrapper">

            {{ render_pattern(highlights) }}

        </div>

    {% endif %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {{ render_pattern(listing) }}

        {% endblock %}

        {% block secondary %}

            {% if announcements %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(announcements) }}

                </div>

            {% endif %}

            {% if magazine %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(magazine) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

    {% if subjects %}

        <div class="wrapper">

            {{ render_pattern(subjects) }}

        </div>

    {% endif %}

{% endblock %}
