{% set criticalCss = 'home' %}

{% extends '::page.html.twig' %}

{% block meta %}

    {{ parent() }}

    <link rel="alternate" type="application/rss+xml" title="Read the latest life sciences research from eLife Sciences" href="{{ path('rss-recent') }}" />

{% endblock %}

{% block body %}

    {% if heroBanner %}
        <div class="wrapper">
            {{ render_pattern(heroBanner) }}
        </div>
    {% endif %}

    <div class="wrapper">

        {{ render_pattern(leadParas) }}

    </div>

    {% include 'calls-to-action.html.twig' %}

    {% if subjects %}

        <div class="wrapper">

            {{ render_pattern(subjectsLink) }}

        </div>

    {% endif %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {{ render_pattern(listing) }}

        {% endblock %}

        {% block secondary %}

            {% if announcements %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(announcements) }}

                </div>

            {% endif %}

            {% if magazine %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(magazine) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

    {% if subjects %}

        <div class="wrapper">

            {{ render_pattern(subjects) }}

        </div>

    {% endif %}

{% endblock %}
