{% set criticalCss = 'post' %}

{% set hypothesis = true %}

{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Inside eLife{% endblock %}

{% block meta %}

    {{ parent() }}

    {{ json_ld_schema_org(item) }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if contextualData %}

        <div class="wrapper">

            {{ render_pattern(contextualData) }}

        </div>

    {% endif %}

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/content.html.twig' %}

        {% block main %}

            {% for block in blocks %}
                {{ render_pattern(block) }}
            {% endfor %}

        {% endblock %}

    {% endembed %}

{% endblock %}
