{% set hypothesis = true %}

{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Inside eLife{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if contextualData %}

        <div class="wrapper">

            {{ render_pattern(contextualData) }}

        </div>

    {% endif %}

    {% embed 'grid/content.html.twig' %}

        {% block main %}

            {% for block in blocks %}
                {{ render_pattern(block) }}
            {% endfor %}

            {{ render_pattern(hypothesisOpenerAffordance) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
