{% extends '::page.html.twig' %}

{% block title %}{{ article.title }} | Inside eLife{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {% if leadParas %}
            {{ render_pattern(leadParas) }}
        {% endif %}

        <div class="grid">

            <div class="grid__item medium--six-twelfths push--large--three-twelfths u-pad-top">

                {% for block in blocks %}
                    {{ render_pattern(block) }}
                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}
