{% set hypothesis = true %}

{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Interviews{% endblock %}

{% block description %}
    {{ interview.impactStatement|raw }}
{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if contextualData %}

        <div class="wrapper">

            {{ render_pattern(contextualData) }}

        </div>

    {% endif %}

    {% embed 'grid/content.html.twig' %}

        {% block main %}

            {% for block in blocks %}
                {{ render_pattern(block) }}
            {% endfor %}

            {% if cv %}
                {{ render_pattern(cv) }}
            {% endif %}

            {% if is_granted('FEATURE_CAN_USE_HYPOTHESIS') %}

                {{ render_pattern(hypothesisOpener) }}

            {% endif %}

        {% endblock %}

        {% block secondary %}

            {% if collections %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(collections) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

{% endblock %}
