{% extends '::page.html.twig' %}

{% block title %}{{ interview.title }} | Interviews{% endblock %}

{% block body %}

    {{ info_bar('This page is incomplete.') }}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        {% if leadParas %}
            {{ render_pattern(leadParas) }}
        {% endif %}

        <div class="grid">

            <div class="grid__item medium--six-twelfths push--large--three-twelfths u-pad-top">

                {% for block in blocks %}
                    {{ render_pattern(block) }}
                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}
