{% extends '::page.html.twig' %}

{% block title %}{{ title }} | Interviews{% endblock %}

{% block description %}
    {{ interview.impactStatement }}
{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        {% if leadParas %}
            {{ render_pattern(leadParas) }}
        {% endif %}

        <div class="grid">

            <div class="grid__item medium--six-twelfths push--large--three-twelfths u-pad-top">

                {% for block in blocks %}
                    {{ render_pattern(block) }}
                {% endfor %}

                {% if cv %}
                    {{ render_pattern(cv) }}
                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}
