{% set criticalCss = 'magazine' %}

{% extends '::page.html.twig' %}

{% block meta %}

    {{ parent() }}

    <link rel="alternate" type="application/rss+xml" title="Insights into science from eLife" href="{{ path('rss-magazine') }}" />

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(menuLink) }}

    </div>

    {% include 'calls-to-action.html.twig' %}

    {% if highlights %}

        <div class="wrapper">

            {{ render_pattern(highlights) }}

        </div>

    {% endif %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {{ render_pattern(listing) }}

        {% endblock %}


        {% block secondary %}

            {% if events %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(events) }}

                </div>

            {% endif %}

            {% if digests %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(digests) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

    <div class="wrapper">

        {{ render_pattern(menu) }}

    </div>

{% endblock %}
