{% extends '::page.html.twig' %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if audio_player %}
        {{ render_pattern(audio_player) }}
    {% endif %}

    <div class="wrapper u-pad-top">

        {{ render_pattern(menuLink) }}

    </div>

    <div class="wrapper u-pad-top">

        {% if events or elifeDigests %}

        <div class="grid">

            <div class="listing-column-container">

                <div class="grid__item large--eight-twelfths listing-column-main">

                    {% endif %}

                    {{ render_pattern(listing) }}

                    {% if events or elifeDigests %}

                </div>

                <div class="grid__item large--four-twelfths listing-column-secondary">

                    {% if events %}
                        {{ render_pattern(events) }}
                    {% endif %}

                    {% if elifeDigests %}
                        {{ render_pattern(elifeDigests) }}
                    {% endif %}

                </div>

            </div>

        </div>

        {% endif %}

    </div>

    <div class="wrapper">

        {{ render_pattern(menu) }}

    </div>

{% endblock %}
