{% extends '::page.html.twig' %}

{% block title %}Magazine{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if audio_player %}
        {{ render_pattern(audio_player) }}
    {% endif %}

    <div class="wrapper u-pad-top">

        <ul>
            <li><a href="{{ path('article-type', {type: 'editorial'}) }}">Editorials</a></li>
            <li><a href="{{ path('article-type', {type: 'insight'}) }}">Insights</a></li>
            <li><a href="{{ path('article-type', {type: 'feature'}) }}">Feature articles</a></li>
            <li><a href="{{ path('podcast') }}">Podcast</a></li>
            <li><a href="{{ path('collections') }}">Collections</a></li>
            <li><a href="{{ path('community') }}">Community</a></li>
        </ul>

        {% if events or elifeDigests %}

        <div class="grid">

            <div class="listing-column-container">

                <div class="grid__item large--eight-twelfths listing-column-main">

                    {% endif %}

                    {% if latest %}

                        {{ render_pattern(latest) }}

                    {% else %}

                        {{ render_pattern(latestHeading) }}

                        <p>No articles available.</p>

                    {% endif %}

                    {% if events or elifeDigests %}

                </div>

                <div class="grid__item large--four-twelfths listing-column-secondary">

                    {% if events %}
                        {{ render_pattern(events) }}
                    {% endif %}

                    {% if elifeDigests %}
                        {{ render_pattern(elifeDigests) }}
                    {% endif %}

                </div>

            </div>

        </div>

        {% endif %}

    </div>

{% endblock %}
