{% extends '::page.html.twig' %}

{% block title %}Magazine{% endblock %}

{% block body %}

    {{ info_bar('This page is incomplete.') }}

    {{ render_pattern(contentHeader) }}

    {% if audio_player %}
        {{ render_pattern(audio_player) }}
    {% endif %}

    <div class="wrapper u-pad-top">

        <ul>
            <li><a href="{{ path('podcast') }}">Podcast</a></li>
            <li><a href="{{ path('careers') }}">Careers</a></li>
            <li><a href="{{ path('collections') }}">Collections</a></li>
        </ul>

        {% if latest %}

            {{ render_pattern(latest) }}

        {% else %}

            {{ render_pattern(latestHeading) }}

            <p>No articles available.</p>

        {% endif %}

    </div>

{% endblock %}
