{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if audio_player %}
        {{ render_pattern(audio_player) }}
    {% endif %}

    <div class="wrapper u-pad-top">

        {{ render_pattern(menuLink) }}

    </div>

    {% if highlights %}

        <div class="wrapper u-pad-top">

            {{ render_pattern(highlights) }}

        </div>

    {% endif %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {{ render_pattern(listing) }}

        {% endblock %}


        {% block secondary %}

            {% if events %}

                {{ render_pattern(events) }}

            {% endif %}

            {% if elifeDigests %}

                {{ render_pattern(elifeDigests) }}

            {% endif %}

        {% endblock %}

    {% endembed %}

    <div class="wrapper">

        {{ render_pattern(menu) }}

    </div>

{% endblock %}
