<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    {% set title = block('title') %}

    <title>{% if title %}{{ title }} | {% endif %}eLife</title>

    {% block stylesheets deferred %}
    {% for stylesheet in stylesheets %}
        <link href="{{ resource_url(stylesheet) }}" rel="stylesheet">
    {% endfor %}
    {% endblock %}

    {% block meta %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <script>document.createElement('picture');</script>
    <![endif]-->

    <script>
        WebFontConfig = {
            custom: {
                families: ["Avenir Next Webfont"],
                urls: ["{{ resource_url('/elife/patterns/assets/fonts/fonts.css') }}"]
            }
        };

        (function (d) {
            var wf = d.createElement("script");
            var s = d.scripts[0];
            wf.src = "https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js";
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

</head>

<body class="body">

<div class="global-wrapper">

    <div class="global-inner">

        {% if header %}
            {{ render_pattern(header) }}
        {% endif %}

        {% block info_bar %}{% endblock %}

        <main role="main">

            {% block body %}{% endblock %}

        </main>

        {% if footer %}
            {{ render_pattern(footer) }}
        {% endif %}

    </div>

</div>

{% block javascripts deferred %}
{% for javascript in javascripts %}
    <script src="{{ resource_url(javascript) }}"></script>
{% endfor %}
{% endblock %}

</body>

</html>
