{% set criticalCss = 'podcast-episode' %}

{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Podcast{% endblock %}

{% block meta %}

    {{ parent() }}

    {% for source in item.sources %}
        <meta property="og:audio:url" content="{{ source.uri }}">
        <meta property="og:audio:type" content="{{ source.mediaType }}">
    {% endfor %}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            <h3 class="list-heading">Chapters</h3>
            <ol class="listing-list">
                {% for chapter in chapters %}
                    <li class="listing-list__item">
                        {{ render_pattern(chapter) }}
                    </li>
                {% endfor %}
            </ol>

        {% endblock %}

        {% block secondary %}

            {% if related %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(related) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

    {{ schema_org_metadata(item) }}

{% endblock %}
