{% extends '::page.html.twig' %}

{% block title %}{{ episode.title }} | Podcast{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {{ render_pattern(audioPlayer) }}

    <div class="wrapper u-pad-top">

        {% if leadParas %}
            {{ render_pattern(leadParas) }}
        {% endif %}

        <div class="grid">

            <div class="listing-column-container">

                <div class="grid__item large--eight-twelfths listing-column-main">

                    <h3 class="list-heading">Chapters</h3>

                    <ol class="listing-list">
                        {% for chapter in chapters %}
                            <li class="listing-list__item">
                                {{ render_pattern(chapter) }}
                            </li>
                        {% endfor %}
                    </ol>

                </div>

                <div class="grid__item large--four-twelfths listing-column-secondary">

                    {% if related %}
                        {{ render_pattern(related) }}
                    {% endif %}

                    <p class="blg-pad-top-medium">The eLife Podcast is produced for eLife by The Naked Scientists.</p>

                    <p>Contact us at <a href="mailto:podcast@elifesciences.org">podcast@elifesciences.org</a>.</p>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
