{% extends '::page.html.twig' %}

{% block title %}{{ episode.title }} | Podcast{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {{ render_pattern(audioPlayer) }}

    <div class="wrapper u-pad-top">

        {% if leadParas %}
            {{ render_pattern(leadParas) }}
        {% endif %}

        <div class="grid">

            <div class="listing-column-container">

                <div class="grid__item large--eight-twelfths listing-column-main">

                    {{ render_pattern(chapters) }}

                </div>

                <div class="grid__item large--four-twelfths listing-column-secondary">

                    {{ render_pattern(related) }}

                    <p class="u-pad-top-lg">The eLife Podcast is produced for eLife by The Naked Scientists.</p>

                    <p>Contact us at <a href="mailto:podcast@elifesciences.org">podcast@elifesciences.org</a>.</p>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
