{% set criticalCss = 'collection' %}

{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | Highlights{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {# Temporary fix adds vertical whitespace between the bottom of a content header with an overlaid image credit, #}
    {# and a following wrapper--listing element. #}
    {# The long term fix is to update the pattern library to cater for this possibility. #}
    <div class="wrapper"></div>

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {% for part in body %}

                {{ render_pattern(part) }}

            {% endfor %}

        {% endblock %}

        {% block secondary %}

            {% if multimedia %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(multimedia) }}

                </div>

            {% endif %}

            {% if related %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(related) }}

                </div>

            {% endif %}

            {% if editors %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(editors) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

    {{ schema_org_metadata(item) }}

{% endblock %}
