{% extends '::page.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block meta %}

    <meta name="robots" content="noindex">

{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    <div class="wrapper u-pad-top-lg">

        {{ render_pattern(sortControl) }}

        {{ render_pattern(messageBar) }}

        {% if listing %}
            {{ render_pattern(listing) }}
        {% endif %}

    </div>

{% endblock %}
