{% extends '::page.html.twig' %}

{% block title %}{{ subject.name }}{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {% if lead_paras %}
            {{ render_pattern(lead_paras) }}
        {% endif %}

        <div class="u-pad-top">

            {% if latestArticles %}

                {{ render_pattern(latestArticles) }}

            {% else %}

                {{ render_pattern(latestArticlesHeading) }}

                <p>No articles available.</p>

            {% endif %}

        </div>

    </div>

{% endblock %}
