{% extends '::page.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {% if lead_paras %}
            {{ render_pattern(lead_paras) }}
        {% endif %}

        <div class="grid">

            <div class="grid__item large--eight-twelfths {% if not highlights %}push--large--two-twelfths{% endif %} u-pad-top">

                {{ render_pattern(listing) }}

            </div>

            {% if highlights %}

                <div class="grid__item large--four-twelfths u-pad-top">

                    {{ render_pattern(highlights) }}

                </div>

            {% endif %}

        </div>

    </div>

{% endblock %}
